<h1>Welcome {{user.username}}</h1>
<p>This is your private area</p>
<img src="https://media2.giphy.com/media/MfTW6bkRhvFzbAZO1p/giphy.gif?cid=ecf05e47l7buqc74bw7y3jmeywu12w4u3mw4q67mh748uiy7&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="private area">
